LANGUAGE=en

REASONING_EFFORT=high
USE_RESPONSE_FORMAT=

# LM STUDIO
# BASE_URL=http://localhost:7341/v1
# API_KEY=lm-studio
# AI_MODEL=

# OPENAI
# BASE_URL=
# API_KEY=
# AI_MODEL=gpt-5-nano

# GROK
# BASE_URL=https://api.x.ai/v1
# API_KEY=
# AI_MODEL=grok-4-1-fast-non-reasoning

# DEEPSEEK
# BASE_URL=https://api.deepseek.com
# API_KEY=
# AI_MODEL=deepseek-chat